﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <button data-btn-get-all-animals>Get All Animals</button>
    <button data-btn-get-seralised-db>Get Seralised Database</button>
    <button data-btn-get-mammals>Get Mammals</button>
    <button data-btn-get-animal-types>Get Animal Types</button>
    <input data-input-animal-name type="text" placeholder="Search by name"/>    
    <button data-btn-animal-name-search>Search</button>
</div>
<div data-result>
</div>

